[Unit]
Description=Custom key bindings for the side panel of razer mouses.
After=default.target

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=/usr/local/bin/naga serviceHelper
TimeoutStartSec=20
Group=razerInputGroup
