[Unit]
Description=Custom key bindings for the side panel of razer mouses.
After=default.target

[Service]
Type=simple
EnvironmentFile=/home/razerInput/.naga/envSetup
ExecStart=/usr/local/bin/naga serviceHelper
TimeoutStartSec=20
User=razerInput

[Install]
WantedBy=default.target