[Unit]
Description=Custom key bindings for the side panel of razer mouses.
After=default.target


[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=/usr/local/bin/Naga_Linux/nagaServerCatcher.sh
Restart=always
RestartSec=5
TimeoutStartSec=5
Group=razerInputGroup
